{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'posts/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff">
</head>
<body>
    {% include './head.html' %}
    <div class="result_body" style="position:absolute; left:10%; right:10%;">
        <h1 style="margin-top: 20px;">Recruitment</h1>
        {% block content %}
        {% endblock content %}
    </div>

</body>